@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap');

html {
  font-family: "Lato", sans-serif;
  
}

html,
body,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
}


// set margin and padding of all elements to 0
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}