.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.sectionHeader {
  margin: 20px 0;
  text-align: center;
  font-size: 30px;
}
