.socialLinksList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  margin-top: 5px;
  justify-content: center;
}

.link {
   &:visited, &:link, &:active {
      color: inherit;
      text-decoration: none;

   }
}

.icon {
   font-size: 30px;
  opacity: 0.6;
  transition: 0.1s;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
